/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Generics*/

body {
    font-family: sans-serif;
}

header {
    min-height: 70px;
    background-color: rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    padding: 2rem 0.5rem;
    text-align: right;

    z-index: 1;
}

main {
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

footer {
    height: 100px;
    background-color: #282828;
    color: white;

    justify-content: space-between;

    padding: 1rem;
    gap: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    display: block;
}

ul{
    list-style-type: none;
}

/*Utils*/

.flex {
    display: flex;
}

.btn {
    padding: 0.5rem 1.5rem;
    border: 1px solid white;
    border-radius: 40px;
    font-size: 0.9rem;
}

.btn:hover{
    padding: 0.7rem 2rem;
}

/*Body*/

.top-content {
    background-color: #141922;
    height: calc(100vh - 100px);
}

/*Main*/

.content{
    color: white;
    padding: 1rem;
}

.content > *{
    margin-bottom: 2rem;
}

.content h4{
    margin-top: 1rem;
}

.content h6{
    color: #808080;
    font-weight: 200;

    margin-top: 0.5rem;
}

.sections-nav ul{
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    margin: 1rem 0;
    font-size: 0.9rem;
}

.sections-nav ul a{
    color: #808080;
}

.sections-nav li:hover{
    filter: brightness(200%);
}

.active::after{
    content: '';
    width: 50%;
    height: 2px;
    background-color: #adff2f;
    display: block;
    margin: 5px auto;
}

.gallery{
    flex-wrap: wrap;

    text-align: center;
    margin: 0 -15px;
}

.gallery li{
    flex-basis: 50%;
    padding: 15px;
    cursor: pointer;
}

.gallery figure{
    position: relative;
}

.gallery figure i{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    display: none;
}

.gallery li:hover i{
    display: flex;
}

.circle{
    border-radius: 50%;
}

/*Side Navbar*/
.side-nav {
    overflow: hidden;
    width: 50px;
    background-color: black;
    color: #808080;

    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 0.5rem;
}

.side-nav img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
}

.side-nav img:not([alt="Logo"]){
    opacity: 0.6;
}

.side-nav span {
    display: none;
    margin-left: 0.5rem;
    font-size: 0.7rem;
    font-weight: bolder;
    cursor: pointer;
}

.side-nav img:hover{
    opacity: 1;
}


/*Top Section*/

.top-section > div{
    margin-bottom: 0.5rem;
}

.top-section > div:hover{
    filter: brightness(200%);
}

/*Logo*/
.logo img:last-child {
    display: none;
    width: 80%;
    height: 80%;
    margin-left: 0;
}

/*Playlist*/
.playlist {
    flex-grow: 1;
    overflow: auto;
    display: none;
}

.playlist h4 {
    font-size: 0.7rem;
    color: white;
    margin-bottom: 0.5rem
}

.playlist li a{
    color: #808080;
}

.playlist li a:hover{
    filter: brightness(200%);
}

.new-playlist {
    align-items: center;
}

.new-playlist:hover{
    filter: brightness(200%);
}

.plus {
    background-color: #808080;
    padding: 0.5rem;
}

.plus i {
    color: black;
}

.playlist li {
    font-weight: bold;
    margin: 1rem 0;
    font-size: 0.7rem;
}


/*Bottom section*/
.bottom-section > div{
    margin-bottom: 0.5rem;
}

.download:hover{
    filter: brightness(200%);
}

/*Download*/

.download img {
    width: 20px;
    height: 20px;
}

/*Profile*/
.profile {
    width: 35px;
    height: 35px;
    background-color: #808080;
    border-radius: 50%;
}

.profile img{
    height: 80%;
    width: 80%;
}

/*Footer*/

footer>div {
    flex-basis: calc(100%/3);
}

/*Song section*/

.song {
    gap: 1rem;
    align-items: center;
}

.song figure {
    height: 80%;
}

.song-title span {
    color: #808080;
    font-size: 0.8rem;
    align-self: center;
    cursor: pointer;
}

.song-title span:hover{
    filter: brightness(200%);
    text-decoration: underline;
}

.song .icons {
    color: #808080;
}

.song .icons i{
    cursor: pointer;
}

.song .icons i:hover{
    filter: brightness(200%);
}

/*Player section*/

.action-buttons {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.play-button {
    font-size: 2rem;
    cursor: pointer;
}
.play-button i:hover{
    font-size: 2.2rem;
}

.song-duration {
    align-items: center;
    font-size: 0.8rem;
    font-weight: bolder;
    justify-content: space-between;
    gap: 1rem;
}

.duration {
    flex-grow: 1;
}

.bar {
    height: 5px;
    border-radius: 20px;
}

.total {
    background-color: #808080;
}

.partial {
    width: 20%;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.partial::after{
    content: '';
    display: none;
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0;
    top: -50%;
    border-radius: 50%;
}

.partial:hover{
    background-color:#adff2f;
}

.partial:hover::after{
    display: block;
}


/*Audio section*/

.audio {
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.volume {
    width: 100px;
}